{% import '/partials/macros.html' as macros %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="/docs/style.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="top-banner">
            <div id="date">
                <h2 style="text-alignment:center">[{{date}}]</h1>
            </div>

            <div id="party">
                {{ macros.party_header(data.parties)}}
            </div>
            <div id="title">
                <h1>Cookie Policy</h1>
            </div>
        </div>
        <div class="new-page"></div>
        <div class="toc">
            <h3>Table of Contents</h4>
                <ul>
                    <li><a href="#introduction"> 1. Introduction</a></li>
                    <li><a href="#key_principles"> 2. Key Principles</a></li>
                    <li><a href="#it_department_responsibilities"> 3. IT Department Responsibilities</a></li>
                    <li><a href="#users_responsibilities"> 4. Users’ Responsibilities</a></li>
                    <li><a href="#software_security_measures"> 5. Software Security Measures</a></li>
                    <li><a href="#anti_malware_security_measures"> 6. Anti-Malware Security Measures</a></li>
                    <li><a href="#hardware_security_measures"> 7. Hardware Security Measures</a></li>
                    <li><a href="#access_security"> 8. Access Security</a></li>
                    <li><a href="#data_storage_security"> 9. Data Storage Security</a></li>
                    <li><a href="#data_protection"> 10. Data Protection</a></li>
                    <li><a href="#reporting_it_security_breaches"> 11. Reporting IT Security Breaches</a></li>
                    <li><a href="#policy_review"> 12. Policy Review</a></li>
                    <li><a href="#implementation_of_policy"> 13. Implementation of Policy</a></li>
                </ul>
        </div>
        <div class="content">
            <div class="new-page"></div>
            <div class="main-body">
                <h4>1. Introduction</h4>
                <p>
                    This Policy sets out the measures to be taken by all employees of {{ data.parties[0].name }}, a
                    company registered in {{ data.parties[0].place_of_incorporation }} under
                    number {{ data.parties[0].registered_number }}, whose registered office is at {{
                    data.parties[0].address.first_line }}, {{ data.parties[0].address.second_line }},
                    {{ data.parties[0].address.postcode }}, {{ data.parties[0].address.country }} (“the Company”) and by
                    the Company as a whole in order to protect the Company’s computer systems,
                    devices, infrastructure, computing environment and any and all other relevant equipment
                    (collectively, “IT Systems”) from damage and threats whether internal, external,
                    deliberate, or accidental.
                </p>
                <h4>2. Key Principles</h4>
                <p>2.1. All IT Systems are to be protected against unauthorised access.</p>
                <p>
                    2.2. All IT Systems are to be used only in compliance with relevant Company Policies including, but
                    not limited to, the Data Protection Policy.
                </p>
                <p>
                    2.3. All employees of the Company and any and all third parties authorised to use the IT Systems
                    including, but not limited to, contractors and sub-contractors (collectively, “Users”), must ensure
                    that they are familiar with this Policy and must adhere to and comply with it at all times.
                </p>
                <p>
                    2.4. All line managers must ensure that all Users under their control and direction adhere to and
                    comply with this Policy at all times as required under Paragraph 2.3.
                </p>
                <p>
                    2.5. All data stored on IT Systems is to be managed securely in compliance with all relevant parts
                    of the Data Protection Legislation. “Data Protection Legislation” means all applicable data
                    protection and privacy laws including, but not limited to, the UK GDPR, the Data Protection Act
                    2018,
                    the Privacy and Electronic Communications Regulations 2003 as amended, and any successor
                    legislation.
                </p>
                <p>
                    2.6. All data stored on IT Systems shall be classified appropriately (including, but not limited to,
                    personal data, sensitive or “special category” personal data, and confidential information).
                    All data so classified must be handled appropriately in accordance with its classification.
                </p>
                <p>2.7. All data stored on IT Systems shall be available only to those Users with a legitimate need for
                    access based on their job role.</p>
                <p>2.8. All data stored on IT Systems shall be protected against unauthorised access and/or processing.
                </p>
                <p>2.9. All data stored on IT Systems shall be protected against loss and/or corruption.</p>
                <p>
                    2.10. All IT Systems are to be installed, maintained, serviced, repaired, and upgraded by the IT
                    department (the “IT Department”) or by such third party/parties
                    as the IT Department may from time to time authorise.
                </p>
                <p>
                    2.11. The responsibility for the security and integrity of all IT Systems and the data stored
                    thereon (including, but not limited to, the security, integrity, and confidentiality of that data)
                    lies with the IT Department unless expressly stated otherwise.
                </p>
                <p>
                    2.12. All breaches of security pertaining to the IT Systems or any data stored thereon shall be
                    reported and subsequently investigated by the IT Department.
                    Any breach which is either known or suspected to involve personal data shall be reported to
                    {% if data.data_security.DPO.registered %}
                    the Data Protection Officer, {{ data.data_security.DPO.name }} at <a
                        href="mailto:{{ data.data_security.DPO.email }}">{{ data.data_security.DPO.email }}</a>.
                    {% else %}
                    {{ data.data_security.DPO.name }} at <a href="mailto:{{ data.data_security.DPO.email }}">{{
                        data.data_security.DPO.email }}</a> or senior management.
                    {% endif %}
                </p>
                <p>
                    2.13. All Users must report any and all security concerns relating to the IT Systems or to the data
                    stored thereon immediately to the IT Department.
                </p>
                <h4>3. IT Department Responsibilities</h4>
                <p>3.1. The {{ data.it_data_security_policy.IT_manager_title }}, {{
                    data.it_data_security_policy.IT_manager_name }} contactable at {{
                    data.it_data_security_policy.IT_manager_email }}, shall be responsible for the following:</p>
                <ul>
                    <li>
                        3.1.1. ensuring that all IT Systems are assessed and deemed suitable for compliance with the
                        Company’s security requirements;
                    </li>
                    <li>
                        3.1.2. ensuring that IT security standards within the Company are effectively implemented and
                        regularly reviewed, working in consultation with the Company’s senior management
                        {% if data.data_security.DPO.registered %}
                        and Data Protection Officer, as appropriate,
                        {% endif %}
                        and reporting the outcome of such reviews to the Company’s senior management;
                    </li>
                    <li>
                        3.1.3. ensuring that all Users are kept aware of the requirements of this Policy, related
                        policies, and all related legislation, regulations, and other relevant rules whether now
                        or in the future in force including, but not limited to, the Data Protection Legislation and the
                        Computer Misuse Act 1990.
                    </li>
                </ul>
                <p>3.2. The IT Department shall be responsible for the following:</p>
                <ul>
                    <li>3.2.1. Assisting all Users in understanding and complying with this Policy and related policies;
                    </li>
                    <li>3.2.2. providing all Users with appropriate support and training in IT security matters and use
                        of IT Systems;</li>
                    <li>
                        3.2.3. ensuring that all Users are granted levels of access to IT Systems that are appropriate
                        for each User, taking into account their job role, responsibilities,
                        and any special security requirements;
                    </li>
                    <li>
                        3.2.4. receiving and handling all reports relating to IT security matters and taking appropriate
                        action in response
                        {% if data.data_security.DPO.registered %}
                        including, in the event that any reports relate to personal data, informing the Data Protection
                        Officer
                        {% endif %};
                    </li>
                    <li>
                        3.2.5. taking proactive action, where possible, to establish and implement IT security
                        procedures and raise User awareness;
                    </li>
                    <li>
                        3.2.6. assisting the IT Manager in monitoring all IT security within the Company and taking all
                        necessary action to implement this Policy (and related policies) and any changes
                        made to this Policy (and related policies) in the future; and
                    </li>
                    <li>
                        3.2.7. ensuring that regular backups are taken of all data stored within the IT Systems at least
                        {{ data.data_security.backups }}
                        and that such backups are stored at a suitable location onsite or offsite. All backups should be
                        encrypted with appropriate systems.
                    </li>
                </ul>
                <h4>4. Users’ Responsibilities</h4>
                <p>
                    4.1. All Users must comply with all relevant parts of this Policy and all related policies at all
                    times when using the IT Systems.
                </p>
                <p>
                    4.2. All Users must use the IT Systems only within the bounds of UK law and must not use the IT
                    Systems for any purpose or activity which is likely to contravene any UK law
                    whether now or in the future in force.
                </p>
                <p>
                    4.3. Users must immediately inform the IT Department of any and all security concerns relating to
                    the IT Systems.
                </p>
                <p>
                    4.4. Users must immediately inform the IT Department of any other technical problems (including, but
                    not limited to, hardware failures and software errors) which may occur on the IT Systems.
                </p>
                <p>
                    4.5. Any and all deliberate or negligent breaches of this Policy by Users will be handled as
                    appropriate under the Company’s disciplinary procedures.
                </p>
                <h4>5. Software Security Measures</h4>
                <p>
                    5.1. All software in use on the IT Systems (including, but not limited to, operating systems,
                    individual software applications, and firmware) will be kept up-to-date and
                    any and all relevant software updates, patches, fixes, and other intermediate releases will be
                    applied at the sole discretion of the IT Department.
                    This provision does not extend to upgrading software to new ‘major releases’ (e.g., from version 1.0
                    to version 2.0), only to updates within a particular major release
                    (e.g., from version 1.0 to version 1.1 etc.). Unless a software update is available free of charge
                    it will be classed as a major release, falling within the remit
                    of new software procurement and outside the scope of this provision.
                </p>
                <p>
                    5.2. Where any security flaw is identified in any software, that flaw will be either fixed
                    immediately or the software may be withdrawn from the IT Systems until such time as
                    the security flaw can be effectively remedied.
                </p>
                <p>
                    5.3. No Users may install any software of their own, whether that software is supplied on physical
                    media or whether it is downloaded, without the approval of the IT Manager,
                    such approval to be logged in writing. Any software belonging to Users must be approved by the IT
                    Manager and may only be installed where that installation poses no security risk to the IT Systems
                    and where the installation would not breach any licence agreements to which that software may be
                    subject.
                </p>
                <p>
                    5.4. All software will be installed onto the IT Systems by the IT Department unless an individual
                    User is given written permission to do so by the IT Manager.
                    Such written permission must clearly state which software may be installed and onto which
                    computer(s) or device(s) it may be installed.
                </p>
                <h4>6. Anti-Malware Security Measures</h4>
                <p>
                    6.1. All IT Systems (including all computers and servers) will be protected with suitable
                    anti-malware, and other suitable internet security software.
                    All such software will be kept up-to-date with the latest software updates and definitions.
                </p>
                <p>
                    6.2. Users shall be permitted to transfer files using cloud storage systems only with the approval
                    of the IT Manager, such approval to be logged in writing.
                </p>
                <p>
                    6.3. Any files being sent to third parties outside the Company, whether by email, on physical media,
                    or by other means (e.g., shared cloud storage) must be scanned
                    for malware before being sent or as part of the sending process, as appropriate. All email
                    attachments are scanned automatically upon sending.
                </p>
                <p>
                    6.4. Where any malware is detected by a User, this must be reported immediately to the IT Department
                    (this rule shall apply even where the anti-malware software automatically fixes the problem).
                    The IT Department shall promptly take any and all necessary action to remedy the problem. In limited
                    circumstances this may involve the temporary removal of the affected computer or device.
                    Wherever possible a suitable replacement computer or device will be provided to the User.
                </p>
                <p>
                    6.5. Where any User deliberately introduces any malware to the IT Systems this will constitute a
                    criminal offence under the Computer Misuse Act 1990 and will be handled as appropriate
                    under the Company’s disciplinary procedures.
                </p>
                <h4>7. Hardware Security Measures</h4>
                <p>
                    7.1. Wherever practical, IT Systems will be located in rooms which may be securely locked when not
                    in use or, in appropriate cases, at all times whether in use or not
                    (with authorised Users being granted access by means of a key, smart card, door code or similar).
                    Where access to such locations is restricted, Users must not allow any unauthorised access
                    to such locations for any reason.
                </p>
                <p>
                    7.2. All IT Systems not intended for normal use by Users (including, but not limited to, servers,
                    networking equipment, and network infrastructure) shall be located,
                    wherever possible and practical, in secured, climate-controlled rooms and/or in locked cabinets
                    which may be accessed only by designated members of the IT Department.
                </p>
                <p>
                    7.3. No Users shall have access to any IT Systems not intended for normal use by Users (including
                    such devices mentioned above) without the express permission of the IT Manager.
                    Under normal circumstances, whenever a problem with such IT Systems is identified by a User, that
                    problem must be reported to the IT Department.
                    Under no circumstances should a User attempt to rectify any such problems without the express
                    permission (and, in most cases, instruction and/or supervision) of the IT Manager.
                </p>
                <p>
                    7.4. All non-mobile devices (including, but not limited to, desktop computers, workstations, and
                    monitors) shall, wherever possible and practical, be physically secured in place
                    with a suitable locking mechanism. Where the design of the hardware allows, computer cases shall be
                    locked to prevent tampering with or theft of internal components.
                </p>
                <p>
                    7.5. All mobile devices (including, but not limited to, laptops, tablets, and smartphones) provided
                    by the Company should always be transported securely and handled with care.
                    In circumstances where such mobile devices are to be left unattended, they should be placed inside a
                    lockable case or other suitable container.
                    Users should make all reasonable efforts to avoid such mobile devices from being left unattended at
                    any location.
                    If any such mobile device is to be left in a vehicle it must be stored out of sight and, where
                    possible, in a locked compartment.
                </p>
                <p>
                    7.6. The IT Department shall maintain a complete asset register of all IT Systems. All IT Systems
                    shall be labelled, and the corresponding data shall be kept on the asset register.
                </p>
                <h4>8. Access Security</h4>
                <p>
                    8.1. Access privileges for all IT Systems shall be determined on the basis of Users’ levels of
                    authority within the Company and the requirements of their job roles.
                    Users shall not be granted access to any IT Systems or electronic data which are not reasonably
                    required for the fulfilment of their job roles.
                </p>
                <p>
                    8.2. All IT Systems (and in particular mobile devices including, but not limited to, laptops,
                    tablets, and smartphones) shall be protected with a secure password or passcode,
                    or such other form of secure log-in system as the IT Department may deem appropriate and approve.
                    Not all forms of biometric log-in are considered secure.
                    Only those methods approved by the IT Department may be used.
                </p>
                <p>8.3. All passwords must, where the software, computer, or device allows:</p>
                <ul>
                    <li>8.3.1. be at least {{ data.it_data_security_policy.password_length }} characters long;</li>
                    <li>8.3.2. contain a combination of upper and lower case letters, numbers and symbols;</li>
                    <li>8.3.3. be changed at least every {{ data.it_data_security_policy.password_update }};</li>
                    <li>8.3.4. be different from the previous password;</li>
                    <li>
                        8.3.5. not be obvious or easily guessed (e.g. birthdays or other memorable dates, memorable
                        names, events, or places etc.); and
                    </li>
                    <li>8.3.6. be created by individual Users and/or the IT Department, as appropriate.</li>
                </ul>
                <p>
                    8.4. Passwords should be kept secret by each User. Under no circumstances should a User share their
                    password with anyone, including the IT Manager and the IT Staff.
                    No User will be legitimately asked for their password by anyone at any time and any such request
                    should be refused. If a User has reason to believe that another individual has obtained their
                    password,
                    they should change their password immediately.
                </p>
                <p>
                    8.5. If a User forgets their password, this should be reported to the IT Department. The IT
                    Department will take the necessary steps to restore the User’s access to the IT Systems which may
                    include
                    the issuing of a temporary password which may be fully or partially known to the member of the IT
                    Staff responsible for resolving the issue.
                    A new password must be set up by the User immediately upon the restoration of access to the IT
                    Systems.
                </p>
                <p>
                    8.6. Users should not write down passwords if it is possible to remember them. If a User cannot
                    remember a password, it should be stored securely
                    (e.g., in a locked drawer or in a secure password database) and under no circumstances should
                    passwords be left on display for others to see (e.g., by attaching a note to a computer display).
                </p>
                <p>
                    8.7. All IT Systems with displays and user input devices (e.g., mouse, keyboard, touchscreen etc.)
                    shall be protected, where possible, with a password protected screensaver
                    that will activate after of inactivity. This time period cannot be changed by Users and Users may
                    not disable the screensaver.
                    Activation of the screensaver will not interrupt or disrupt any other activities taking place on the
                    computer (e.g., a User’s work).
                </p>
                <p>
                    8.8. All mobile devices (including, but not limited to, laptops, tablets, and smartphones) provided
                    by the Company shall be set to lock, sleep, or similar,
                    after [variable - insert time period>>] of inactivity, requiring a password, passcode, or other form
                    of log-in to unlock, wake, or similar.
                    Users may not alter this time period.
                </p>
                <p>
                    8.9. Users may not use any software which may allow outside parties to access the IT Systems without
                    the express consent of the IT Manager.
                    Any such software must be reasonably required by the User for the performance of their job role and
                    must be fully inspected and cleared by the IT Manager.
                </p>
                <p>
                    8.10. Users may connect their own devices (including, but not limited to, laptops, tablets, and
                    smartphones) to the Company network subject to the approval of the IT Department.
                    Any and all instructions and requirements provided by the IT Department governing the use of Users’
                    own devices when connected to the Company network must be followed at all times.
                    Users’ use of their own devices shall be subject to, and governed by, all relevant Company Policies
                    (including, but not limited to, this Policy) while those devices are connected
                    to the Company network or to any other part of the IT Systems. The IT Department shall reserve the
                    right to request the immediate disconnection of any such devices without notice.
                </p>
                <h4>9. Data Storage Security</h4>
                <p>9.1. All data, and in particular personal data, should be stored securely using passwords and data
                    encryption.</p>
                <p>
                    9.2. All data stored electronically on physical media, and in particular personal data, should be
                    stored securely in a locked box, drawer, cabinet, or similar.
                </p>
                <p>
                    9.3. No personal data should be stored on any mobile device (including, but not limited to, laptops,
                    tablets, and smartphones),
                    whether such device belongs to the Company or otherwise without the formal written approval of the
                    IT Manager
                    {% if data.data_security.DPO.registered %}
                    and/or the Data Protection Officer
                    {% endif %}
                    and, in the event of such approval, strictly in accordance with all instructions and limitations
                    described at the time the approval is given,
                    and for no longer than is absolutely necessary.
                </p>
                <p>
                    9.4. No data, and in particular personal data, should be transferred to any computer or device
                    personally belonging to a User unless the User in question is a contractor or sub-contractor
                    working on behalf of the Company and that User has agreed to comply fully with the Company’s Data
                    Protection Policy and the Data Protection Legislation.
                </p>
                <h4>10. Data Protection</h4>
                <p>
                    10.1. All personal data (as defined in the Data Protection Legislation) collected, held, and
                    processed by the Company will be collected, held, and processed strictly in accordance with
                    the principles of the Data Protection Legislation, the provisions of the Data Protection Legislation
                    and the Company’s Data Protection Policy.
                </p>
                <p>
                    10.2. All Users handling data for and on behalf of the Company shall be subject to, and must comply
                    with, the provisions of the Company’s Data Protection Policy at all times.
                    In particular, the following shall apply:
                </p>
                <ul>
                    <li>All emails containing personal data must be encrypted;</li>
                    <li>All emails containing personal data must be marked “confidential”;</li>
                    <li>Personal data may be transmitted over secure networks only; transmission over unsecured networks
                        is not permitted in any circumstances;</li>
                    <li>Personal data may not be transmitted over a wireless network if there is a wired alternative
                        that is reasonably practicable;</li>
                    <li>Personal data contained in the body of an email, whether sent or received, should be copied from
                        the body of that email and stored securely. The email itself should be deleted. All temporary
                        files associated therewith should also be deleted;</li>
                    <li>Where personal data is to be sent by facsimile transmission the recipient should be informed in
                        advance of the transmission and should be waiting by the fax machine to receive the data;</li>
                    <li>Where personal data is to be transferred in hardcopy form it should be passed directly to the
                        recipient;</li>
                    <li>All personal data to be transferred physically, whether in hardcopy form or on removable
                        electronic media shall be transferred in a suitable container marked “confidential”;</li>
                    <li>Where any confidential or personal data is being viewed on a computer screen and the computer in
                        question is to be left unattended for any period of time, the User must lock the computer and
                        screen before leaving it.</li>
                </ul>
                <p>
                    10.3. Any questions relating to data protection should be referred to the Data Protection Officer,
                    using the contact details provided above.
                </p>
                <h4>11. Reporting IT Security Breaches</h4>
                <p>
                    11.1. Subject to paragraph 11.2, all concerns, questions, suspected breaches, or known breaches
                    shall be referred immediately to a member of the IT Staff.
                </p>
                <p>
                    11.2. All concerns, questions, suspected breaches, or known breaches that involve personal data
                    shall be referred immediately to the Data Protection Officer who shall handle
                    the matter in accordance with the Company’s Data Protection Policy.
                </p>
                <p>
                    11.3. Upon receiving a question or notification of a breach, the IT Department shall assess the
                    issue including, but not limited to, the level of risk associated therewith,
                    and shall take any and all such steps as the IT Department deems necessary to respond to the issue.
                </p>
                <p>
                    11.4. Under no circumstances should a User attempt to resolve an IT security breach on their own
                    without first consulting the IT Department.
                    Users may only attempt to resolve IT security breaches under the instruction of, and with the
                    express permission of, the IT Department.
                </p>
                <p>
                    11.5. All IT security breaches, whether remedied by the IT Department or by a User under the IT
                    Department’s direction, shall be fully documented.
                </p>
                <h4>12. Policy Review</h4>
                <p>
                    The Company shall review this Policy regularly and, in any case, as required in order to ensure that
                    it remains up-to-date and fit for purpose.
                    All questions, concerns, and other feedback relating to this Policy should be communicated to the IT
                    Manager, at {{ data.it_data_security_policy.IT_manager_email }}
                    {% if data.data_security.DPO.registered %}
                    and/or the Data Protection Officer at <a href="mailto:{{ data.data_security.DPO.email }}">{{
                        data.data_security.DPO.email }}</a>
                    {% endif %}.
                </p>
                <h4>13. Implementation of Policy</h4>
                <p>
                    This Policy shall be deemed effective as of {{ data.data_security.sign_off.effective_date |
                    format_date() }}. No part of this Policy shall have retroactive effect and shall
                    thus apply only to matters occurring on or after this date.
                </p>
                <p>This Policy has been approved and authorised by:</p>
                <ul>
                    <li>Name: {{ data.data_security.sign_off.approving_person_name }}</li>
                    <li>Position: {{ data.data_security.sign_off.approving_person_position }}</li>
                    <li>Date: {{ data.data_security.sign_off.effective_date | format_date() }}</li>
                    <li>Due for Review by: {{ data.data_security.sign_off.review_due_date | format_date() }}</li>
                </ul>
                </li>
            </div>
        </div>
    </div>
</body>

</html>